<!doctype html>
<html>
  <head>
    <title>Sneaker Collector - Home</title>
  </head>
  
  <body>
  <h1>Welcome, <%=current_user.first_name%>!</h1><br>
  <h2><%= Time.now.in_time_zone("Mountain Time (US & Canada)").strftime("%m/%d/%y %I:%M %p") %></h2>
  
<div class="nav">
  
  <a href="/portfolio/<%= current_user.portfolio.id %>">My Portfolio</a><br><br>
  <a href="/leaderboard">Leaderboard</a><br><br>
  <form action="/logout" method="post">
  <button type="submit" value="submit" style="width:50px;height:50px;">Logout</button>
  </form>
  
</div>

  </body>
</html>