<!doctype html>
<html>
  <head>
    <title>Sneaker Collector - Log In</title>
  </head>
  
  <body>
    
  <h1>Welcome to Sneaker Collector!</h1><br>
  <h2>Please Login Below</h2>
  
<form method="POST" action="/login">
  Email Address:<br>
  <input type="text" name="email_address" id="email_address"><br><br>
  Password:<br>
  <input type="password" name="password" id="password">

  <input type="submit" value="Log In">
</form>

  </body>
</html>