<!doctype html>
<html>
  
  <h1>Sign Up</h1>
<form action="/signup" method="POST">
  <label for="first_name">First Name: </label><br>
  <input type="text" name="first_name">
  <label for="last_name">Last Name:</label><br>
  <input type="text" name="last_name">
  <label for="email_address">Email: </label><br> 
  <input type="text" name="email_address">
  <label for="password">Password: </label><br>
  <input type="text" name="password">
  <button type="submit">Sign Up</button><br><br>
</form>
  
</html>