<div class="container">
  
  <head>
    <title>Sneaker Collector</title>
  </head>
  
  <div class="col-md-8 col-md-offset-2">
    <h2>Welcome to Sneaker Collector</h2>

    <div class="content">
      <p>Sneaker Collector is an app that helps you organize your sneakers. SC adds structure to your portfolio and allows you to manage your collection with ease. Create an account to get started! </p>
    </div>

    <div class="sidebar">
      <a href="/registrations/new">Sign Up</a><br><br>
        <a href="/login">Login</a><br><br>
    </div>

  </div>
</div>
