<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - Add Sneaker</title>
  </head>
  
  <body>
    
  <h1>Add Sneaker</h1>
  
<form action="/portfolio/:id/new_sneaker" method="POST">
  Manufacturer:<br>
  <input type="text" name="manufacturer"><br><br>
  US Size:<br>
  <input type="text" name="size_us"><br><br>
  Colorway:<br>
  <input type="text" name="colorway"><br><br>
  Condition:<br>
  <input type="text" name="condition"><br><br>
  Estimated Value:<br>
  <input type="text" name="est_value"><br><br>
  <button type="submit">Submit</button>
</form>
    
  </body>

</html>