<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - Leaderboard</title>
  </head>
  
  <body>
    
    <h1>Leaderboard</h1>
    
  <div class="nav">
  <a class="active" href="/user/home/<%=current_user.id%>">Home</a><br><br>
  <a href="/portfolio/<%= current_user.portfolio.id %>">My Portfolio</a><br><br>
  </div>
  
    <table>
      <style>
      table {
        border-collapse: collapse;
        width: 100%;
      }
      th, td {
        padding: 8px;
        text-align: left;
        border-bottom: 1px solid #ddd;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
      </style>
        <th>Name</th>
        <th>Rank</th>
        <th>Total Shoes</th>
        <th>Portfolio Value</th>
      <tr>
    <!-- #all of the sneaker id's created with info according to table -->
      </tr> 
    </table>
    
    
    
    
    
  </body>
  
</html>