<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - Leaderboard</title>
  </head>
  
  <body>
    
    <h1>Leaderboard</h1>
    
    
    
    
    
    
  </body>
  
  
  
  
  
  
  
</html>