<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - My Portfolio</title>
  </head>
  
  <body>
    
    <h1>My Portfolio List</h1>
    
    <form action="/portfolio/:id/new_sneaker">
    <input type="submit" value="Add Sneaker"/>
</form>
    
    
    
    
  </body>
  
</html>