<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - My Portfolio</title>
  </head>
  
  <body>
    
    <h1>My Portfolio List</h1>
    
    <table style="width:80%; margin:30px auto; border-collapse:collapse;">
      
      <th>Manufacturer</th>
      <th>US Size</th>
      <th>Model</th>
      <th>Colorway</th>
      <th>Estimated Value</th>
      <th>Condition</th>
      
  <tr>
    
  </tr> 
    </table>

    <form action="/portfolio/:id/new_sneaker">
    <input type="submit" value="Add Sneaker"/>
</form>
    
    
    
    
  </body>
  
</html>