<!doctype html>
<html>
  
  <head>
    <title>Sneaker Collector - My Portfolio</title>
  </head>
  
  <body>
    
    <h1>My Portfolio List</h1>
    
  <div class="nav">
  
  <a class="active" href="/user/home/<%=current_user.id%>>">Home</a><br><br>
  <a href="/leaderboard">Leaderboard</a><br><br>
  
  </div>
    
    <table style="width:80%; margin:30px auto; border-collapse:collapse;">
      
      <th>Manufacturer</th>
      <th>US Size</th>
      <th>Model</th>
      <th>Colorway</th>
      <th>Estimated Value</th>
      <th>Condition</th>
      
  <tr>
    <!-- #all of the sneaker id's created with info according to table -->
  </tr> 
    </table>

    <form action="/portfolio/:id/new_sneaker">
    <input type="submit" value="Add Sneaker"/>
</form>
    
    
    
    
  </body>
  
</html>